<section>
  <!-- <div class="jumbotron text-center"> -->
    
      

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <img alt="Curt N logo" class="img-responsive text-center" src="modules/core/client/img/brand/Curt-Nicholson-Splash.png" />
      </div>
    </div>

    <br>
    <div class="btn-group-vertical btn-lg text-center" role="group" aria-label="...">
      <a class="btn btn-group-vertical btn-lg downbtn" role='button' href='#jumpto' target="_self">
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
       <!--  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> -->
      </a>
    </div>

<!--     <div class="col-md-2 col-md-offset-5 col-sm-12 col-xs-12 liblogo">
        <img alt="Liberterian Logo" class="img-responsive text-center" src="modules/core/client/img/brand/Libretarian-Logo.png" />
      </div> -->
    <div class="row">
      <div id='jumpto' class="col-md-12 col-sm-12 col-xs-12">
        <img alt="Blue Triangle" class="img-responsive text-center" src="modules/core/client/img/brand/Triangle.png" />
      </div>
    </div>
    <br>
    <div class="row liblogo">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 top">
        <p >Curt Nicholson was born and raised in Mattoon, Illinois before moving to Kentuckiana in 2001. He and his wife, Rose, have enjoyed the privilege of living in Jeffersonville for the past twelve years. Curt graduated from Heritage Christian Academy (after a stellar senior basketball season) and married his high school sweetheart one month later. Curt and Rose have one son Blake, who is married to Sara. Blake is currently serving in the United States Air Force, while Sara works in marketing. </p>
      </p>
    </div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <p>Following high school, Curt earned degrees in Theology and Religious Education and then served as an educator, coach, athletic director, and pastor. He has worked in the financial services industry for the past six years. Curt has seen growth in the private school he led, the church he pastored, and growth in business relationships by applying the principles of liberty, common sense, and servant-leadership. He learned these values from his Mom, wife, the teachings of Jesus, and his daily interactions with every-day people from all across the social spectrum.  </p>
      </p>
    </div>
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <p>As your representative on the Clark County Council, Curt plans to bring responsible, restrained, and reliable governance to Clark County.</p>
      </p>
    </div>
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <p >Vote for Curt Nicholson for Clark County Council this fall! </p>
      </p>
    </div>
  </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-10 col-sm-12 col-xs-12">
        <img alt="Curt N logo" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>

    </ul>
  </div>

  <div class="well">
    <h4>Find Your nearest polling place</h4>

  </div>

</section>
