<section>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <img alt="Blue Triangle" class="img-responsive text-center" src="modules/core/client/img/brand/Triangle.png" />
      </div>
    </div>
    <div class="row">
    <div class="page-header col-md-1 col-md-offset-2">
      <h1 class='mainBlog'>Blog</h1>
    </div>
    </div>
  <div class="list-group col-md-3">
    <a ng-repeat="blog in vm.blogs" ui-sref="blogs.view({ blogId: blog._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="blog.created | date:'mediumDate'"></span>
        by
        <span ng-if="blog.user" ng-bind="blog.user.displayName"></span>
        <span ng-if="!blog.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="blog.title"></h4>
      <p class="list-group-item-text" ng-bind="blog.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.blogs.$resolved && !vm.blogs.length">
    No blogs yet, why don't you <a ui-sref="blogs.create">create one</a>?
  </div>
</section>
